<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<h1>Your Answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>

<h1> <%= @query %></h1>
<p>Your Question</p>

<h1> <%= @coach_answer %> </h1>
<p>Coach's Response</p>

<%= link_to "Ask a question!", ask_path %>
